@import url(./fonts.css);

$Inter400: "Inter-400",
sans-serif;
$Inter500: "Inter-500",
sans-serif;
$Inter600: "Inter-600",
sans-serif;
$Inter700: "Inter-700",
sans-serif;
$base-color: #fff;

$baseFontSize: 16px;

@function rem($px) {
    @return calc($px / 16px)+0rem;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    position: relative;
    font-family: $Inter500, Arial, -apple-system, system-ui, BlinkMacSystemFont,
        Roboto, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
    text-rendering: auto;
    line-height: normal;
    -webkit-font-smoothing: subpixel-antialiased !important;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    outline: none !important;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #020106 0%, #04003b 47%);
    background-attachment: fixed;
    height: auto;
}

.post-image {
    position: absolute;
    z-index: 99;
    top: -170px;
    left: 0;
    right: 0;

    min-height: 1200px;
    background: url("../images/ok.png") no-repeat center top -50px / cover;
}

img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

p {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1464px;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
}

.h2 {
    font-family: $Inter700;
    font-weight: 700;
    font-size: rem(64px);
    text-transform: uppercase;
    text-align: center;
    color: $base-color;
}

.h3 {
    font-family: $Inter500;
    font-weight: 500;
    font-size: rem(24px);
    text-transform: uppercase;
    text-align: center;
    color: $base-color;
}
.floating-container {
    position: fixed;
    bottom: 30%;
    left: 0;
    width: 306px;
    height: 416px;
    z-index: 1000;
}

.floating-image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    background: url('../images/play.png') no-repeat center center;
    background-size: cover;
    cursor: pointer;
}

.floating-video {
    width: 220px;
    height: 300px;
    border-radius: 10px;
    position: absolute;
    top: 58px;
    left: 26px;
    display: none;
    overflow: hidden;
}

.floating-video iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.close-btn {
    position: absolute;
    top: 40px;
    right: 43px;
    cursor: pointer;
    z-index: 1001;
}

.floating-video.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.first-screen {
    position: relative;
    height: 100vh;
    min-height: 1000px;
    background: url("../images/full-img.png") no-repeat center center / cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        z-index: 2;

        .img-wrap {
            margin-bottom: 53px;
            max-height: 433px;
            height: 100%;
        }

        .svg {
            height: 50px;
            margin-bottom: 25px;
        }

        p {
            font-family: $Inter400;
            font-weight: 400;
            font-size: 32px;
            color: $base-color;
            margin-bottom: 25px;
        }

        a {
            font-family: $Inter500;
            font-weight: 500;
            font-size: 24px;
            text-transform: uppercase;
            text-decoration: underline;
            text-decoration-skip-ink: none;
            text-align: center;
            color: $base-color;
        }
    }

    .linear-gradient {
        padding: 22px 60px;
        font-family: $Inter600;
        font-weight: bold;
        font-size: 32px;
        text-transform: uppercase;
        color: $base-color;
        width: max-content;
        margin: 0 auto 25px auto;
    }
}

.second-screen {
    position: relative;
    height: 100%;
    padding-top: 80px;
    background: url("../images/full-img-2.png") no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 100px;

    &__content {
        height: 100%;
        z-index: 2;
        position: relative;

        .content-top {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: $base-color;
            margin-left: 45px;
            margin-right: 45px;
            margin-bottom: 265px;

            &__title {
                margin-bottom: 20px;
            }

            &__subtitle {
                margin-bottom: 65px;
            }

            &__posttitle {
                max-width: 868px;
                width: 100%;
            }

            &__list {
                display: flex;
                justify-content: space-between;
                margin-bottom: 80px;
                width: 100%;
            }

            &__item {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                max-width: 280px;
                width: 100%;
                height: 160px;
            }

            &__item:nth-child(1) .content-top__item-img {
                padding: 25px;
                max-height: 47px;
            }

            &__item:nth-child(2) .content-top__item-img {
                max-height: 87px;
            }

            &__item:nth-child(3) .content-top__item-img {
                max-height: 80px;
            }

            &__item-img {
                img {
                    height: 100%;
                    object-fit: contain;
                }
            }

            &__item-desc {
                font-family: $Inter600;
                font-weight: 600;
                font-size: 24px;
                text-transform: uppercase;
                text-align: center;
            }
        }

        .content-middle {
            margin-bottom: 100px;

            &__list {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 40px;
            }

            &__item {
                display: flex;
                flex-direction: column;
                position: relative;
                height: 356px;
                border-radius: 24px;
                overflow: hidden;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: rgba(0, 0, 0, 0.4);
                    z-index: 1;
                }
            }

            &__item-img {
                width: 100%;
                height: 100%;
                position: relative;
                z-index: 0;

                img {
                    height: 100%;
                    object-fit: cover;
                }
            }

            &__item-title {
                position: absolute;
                font-family: $Inter700;
                font-weight: 700;
                font-size: 40px;
                color: $base-color;
                text-transform: uppercase;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                padding: 20px;
                text-align: center;
                box-sizing: border-box;
                width: 100%;
                z-index: 2;
            }
        }


        .content-bottom {
            margin-left: 45px;
            margin-right: 45px;

            &__title {
                margin-bottom: 100px;
            }

            &___list {
                display: flex;
                flex-direction: column;
                gap: 40px;
                margin-left: 140px;
                margin-right: 140px;
            }

            &__item {
                display: flex;
                align-items: center;
                gap: 40px;
                font-size: 32px;
                color: $base-color;
                width: 100%;

                .time {
                    font-family: $Inter600;
                }

                span {
                    flex-grow: 1;
                    height: 2px;
                    background-color: $base-color;
                    min-width: 25px;
                }

                .desc {
                    font-family: $Inter400;
                    max-width: 540px;
                    width: 100%;
                    text-align: left;
                }
            }
        }
    }
}

.third-screen {
    background-position: center;
    display: flex;
    justify-content: center;
    height: max-content;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 100px;

    &__content {
        margin: 0 45px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 100px;

        .image-wrap {
            height: 433px;

            img {
                height: 100%;
                object-fit: contain;
            }
        }
    }

    &__posttitle {
        max-width: 800px;
        width: 100%;
        text-align: center;
    }
}

.footer {
    margin: 0 auto;
    padding-bottom: 100px;

    .logo {
        height: 30px;

        img {
            width: auto;
            height: 100%;
        }
    }

}

@media (max-width: 1780px) {
    .post-image {
        top: -180px;
    }
}

@media (max-width: 1320px) {
    .first-screen {
        min-height: 100vh;
    }

    .first-screen__content .img-wrap {
        margin-bottom: 53px;
        max-height: 26vh;

        img {
            height: 100%;
        }
    }
}

@media (max-width: 1200px) {
    .h2 {
        font-size: rem(48px);
    }

    .h3 {
        font-size: rem(24px);
    }

    .first-screen {
        height: 90vh;
        min-height: 800px;
    }

    .second-screen__content .content-bottom___list {
        margin-left: 0px;
        margin-right: 0px;
    }

    .second-screen__content .content-bottom__item {
        display: grid;
        grid-template-columns: 95px 0.5fr 1fr;
    }
}

@media (max-width: 991px) {
    .h2 {
        font-size: rem(35px);
    }

    .h3 {
        font-size: rem(20px);
    }

    .first-screen__content p {
        font-size: 25px;
    }

    .second-screen__content .content-top {
        margin: 0 25px 200px 25px;
    }

    .second-screen__content .content-top__item {
        max-width: 220px;
    }

    .second-screen__content .content-top__item-desc {
        font-size: 19px;
    }

    .second-screen__content .content-middle__list {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .second-screen__content .content-middle__item {
        height: auto;
        aspect-ratio: 16 / 8;
    }

    .second-screen__content .content-bottom {
        margin: 0 25px;
    }

    .second-screen__content .content-bottom___list {
        gap: 40px;
    }

    .second-screen__content .content-bottom__item {
        gap: 20px;
        font-size: 25px;
    }
}

@media (max-width: 768px) {
    .first-screen__content {
        z-index: 5;
    }

    .post-image {
        top: -135px;
        background: url("../images/ok.png") no-repeat center top / cover;
        z-index: 4;
    }

    .h2 {
        font-size: rem(24px);
    }

    .h3 {
        font-size: rem(16px);
    }

    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .first-screen {
        height: auto;
        min-height: 452px;
        padding-top: 40px;

        &__content {
            .img-wrap {
                margin-bottom: 11px;
                max-height: 193px;
                height: 193px;

                img {
                    height: 100%;
                }
            }

            .svg {
                height: 25px;
                margin-bottom: 20px;
            }

            p {
                font-size: 20px;
                max-width: 303px;
                width: 100%;
            }

            a {
                font-size: 16px;
            }
        }

        .linear-gradient {
            padding: 12px 30px;
            font-size: 20px;
            font-weight: bold;
            margin: 0 auto 20px auto;
        }
    }

    .second-screen {
        background-size: cover;
    }

    .second-screen__content .content-top {
        margin: 0 10px 172px 10px;
    }

    .second-screen__content .content-top__title {
        margin-bottom: 40px;
    }

    .second-screen__content .content-top__subtitle {
        margin-bottom: 40px;
        max-width: 328px;
        width: 100%;
    }

    .second-screen__content .content-top__list {
        flex-direction: column;
        align-items: center;
        gap: 40px;
        margin-bottom: 40px;
    }

    .second-screen__content .content-top__item {
        max-height: 94px;
        max-width: 187px;
        justify-content: center;
        gap: 20px;
    }

    .second-screen__content .content-top__item:nth-child(1) .content-top__item-img {
        padding-top: 0px;
        padding-bottom: 0;
        max-height: 23px;
    }

    .second-screen__content .content-top__item:nth-child(2) .content-top__item-img {
        max-height: 43px;
    }

    .second-screen__content .content-top__item:nth-child(3) .content-top__item-img {
        max-height: 40px;
    }

    .second-screen__content .content-top__item-desc {
        font-size: 16px;
    }

    .second-screen__content .content-middle__item-title {
        font-size: 24px;
        padding: 0;
    }

    .second-screen__content .content-middle__item {
        aspect-ratio: 16 / 10;
    }

    .second-screen__content .content-middle {
        margin-bottom: 60px;
    }

    .second-screen__content .content-bottom {
        margin: 0;
    }

    .second-screen__content .content-bottom__title {
        margin-bottom: 40px;
    }

    .second-screen__content .content-bottom__item {
        grid-template-columns: 48px 0.2fr 1fr;
        font-size: 16px;
        gap: 32px;
    }

    .second-screen__content .content-bottom__item span {
        min-width: 45px;
    }

    .third-screen {
        margin-top: 0px;
    }

    .third-screen__content {
        margin: 0;
        gap: 30px;
    }

    .third-screen__content .image-wrap {
        height: 271px;
        width: 268px;
        margin-bottom: 30px;
    }

    .third-screen__posttitle {
        max-width: 350px;
        text-align: center;
        font-size: 12px;
    }

    .footer {
        padding-bottom: 40px;
    }

    .footer .logo {
        height: 15px;
    }
}