@import url(./fonts.css);
html,
body {
  height: 100%;
  margin: 0;
}

body {
  position: relative;
  font-family: "Inter-500", sans-serif, Arial, -apple-system, system-ui, BlinkMacSystemFont, Roboto, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  text-rendering: auto;
  line-height: normal;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  outline: none !important;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #020106 0%, #04003b 100%);
  background-attachment: fixed;
  height: auto;
}

.post-image {
  position: absolute;
  z-index: 99;
  top: -335px;
}

.post-image img {
  width: auto;
  height: auto;
  max-width: 100%;
  display: block;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1464px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

.h2 {
  font-family: "Inter-700", sans-serif;
  font-weight: 700;
  font-size: 64px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.h3 {
  font-family: "Inter-500", sans-serif;
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.first-screen {
  position: relative;
  height: 100vh;
  min-height: 1000px;
  background: url("../images/full-img.png") no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 80px;
}
.first-screen::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.first-screen__content {
  height: 100%;
  z-index: 2;
}
.first-screen__content .img-wrap {
  margin-bottom: 53px;
  max-height: 433px;
  height: 100%;
}
.first-screen__content p {
  font-family: "Inter-400", sans-serif;
  font-weight: 400;
  font-size: 32px;
  color: #fff;
  margin-bottom: 25px;
}
.first-screen .linear-gradient {
  padding: 22px 60px;
  background: linear-gradient(90deg, #a40cf9 0%, #5884ea 100%);
  font-family: "Inter-600", sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  width: max-content;
  margin: 0 auto 25px auto;
}
.first-screen a {
  font-family: "Inter-500", sans-serif;
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-align: center;
  color: #fff;
}

.second-screen {
  position: relative;
  height: 100%;
  background: url("../images/full-img-2.png") no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 100px;
}
.second-screen::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.second-screen__content {
  height: 100%;
  z-index: 2;
  position: relative;
}
.second-screen__content .content-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  margin-left: 45px;
  margin-right: 45px;
  margin-bottom: 265px;
}
.second-screen__content .content-top__title {
  margin-bottom: 20px;
}
.second-screen__content .content-top__subtitle {
  margin-bottom: 65px;
}
.second-screen__content .content-top__posttitle {
  max-width: 868px;
  width: 100%;
}
.second-screen__content .content-top__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  width: 100%;
}
.second-screen__content .content-top__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 280px;
  width: 100%;
  height: 160px;
}
.second-screen__content .content-top__item:nth-child(1) .content-top__item-img {
  padding: 25px;
  max-height: 47px;
}
.second-screen__content .content-top__item:nth-child(2) .content-top__item-img {
  max-height: 87px;
}
.second-screen__content .content-top__item:nth-child(3) .content-top__item-img {
  max-height: 80px;
}
.second-screen__content .content-top__item-img img {
  height: 100%;
  object-fit: contain;
}
.second-screen__content .content-top__item-desc {
  font-family: "Inter-600", sans-serif;
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
}
.second-screen__content .content-middle {
  margin-bottom: 100px;
}
.second-screen__content .content-middle__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
.second-screen__content .content-middle__item {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 356px;
  border-radius: 24px;
  overflow: hidden;
}
.second-screen__content .content-middle__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.second-screen__content .content-middle__item-img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
}
.second-screen__content .content-middle__item-img img {
  height: 100%;
  object-fit: cover;
}
.second-screen__content .content-middle__item-title {
  position: absolute;
  font-family: "Inter-700", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  z-index: 2;
}
.second-screen__content .content-bottom {
  margin-left: 45px;
  margin-right: 45px;
}
.second-screen__content .content-bottom__title {
  margin-bottom: 100px;
}
.second-screen__content .content-bottom___list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-left: 140px;
  margin-right: 140px;
}
.second-screen__content .content-bottom__item {
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: 32px;
  color: #fff;
  width: 100%;
}
.second-screen__content .content-bottom__item .time {
  width: 95px;
  font-family: "Inter-600", sans-serif;
}
.second-screen__content .content-bottom__item span {
  flex-grow: 1;
  height: 2px;
  background-color: #fff;
}
.second-screen__content .content-bottom__item .desc {
  font-family: "Inter-400", sans-serif;
  max-width: 540px;
  width: 100%;
  text-align: left;
}

.third-screen {
  background-position: center;
  display: flex;
  justify-content: center;
  height: max-content;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 100px;
}
.third-screen__content {
  margin: 0 45px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.third-screen__content .image-wrap {
  height: 433px;
}
.third-screen__content .image-wrap img {
  height: 100%;
  object-fit: contain;
}
.third-screen__posttitle {
  max-width: 800px;
  width: 100%;
  text-align: center;
}

.footer {
  padding-bottom: 100px;
}
.footer .logo {
  margin: 0 auto;
  height: 30px;
}
.footer .logo img {
  height: 100%;
}/*# sourceMappingURL=template.css.map */